# {{ ansible_managed }}
[global]
timeout = {{ pip_timeout }}
retries = {{ pip_retries }}
# Disabled until Nexus mirror bug is fixed
# index-url = {{ pypi_mirror }}
# trusted-host = {{ mirror_fqdn }}
# extra-index-url = {{ wheel_mirror }}
