all:
  children:
    primary:
      hosts:
        {{ hostvars[groups['control-plane'][0]].ansible_hostname }}:
          ansible_port: 22
          ansible_host: {{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}
          ansible_user: zuul
          ansible_ssh_extra_args: -o StrictHostKeyChecking=no
    nodes:
      hosts:
{% for host in groups['data-plane'] | unique %}
        {{ hostvars[host].ansible_hostname }}:
          ansible_port: 22
          ansible_host: {{ hostvars[host].ansible_default_ipv4.address }}
          ansible_user: zuul
          ansible_ssh_extra_args: -o StrictHostKeyChecking=no
{% endfor %}
